
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.MuiSelect-icon{
  color: gray !important;
}
.Mui-disabled{
  -webkit-text-fill-color: gray !important;
  cursor: not-allowed !important;
}

@layer base{
  body {
      /* @apply dark:bg-gray-800 bg-white; */
      @apply dark:bg-gradient-to-br dark:from-gray-800 dark:to-gray-600 bg-gradient-to-br from-gray-300 to-gray-100;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

